@import url('https://fonts.googleapis.com/css?family=Limelight|Chewy|Kalam:400,700|Caveat:400,700'); 
 
  /*---------This is the CSS for Blog.html--------------------------*/

  #blog-title   {font-family: Limelight; 
                 font-size: 50px; 
     	           text-align: center; 
                 color: white;}             
    
  #blog     {margin-left: 200px; 
	          margin-right: 200px; 
	          font-weight: bold;
	          font-size: 22px;}   

  #blog-body {background-image: url("footprints.jpg");}
  

/*-------------This is the CSS for contact-form.html------------------*/
    
    #contact-body {background-color: silver;border: 8px solid blue; }
    #contact-h2   {font-family: chewy; font-size: 26px; text-align: left;}
    #contact-h3   {font-family: chewy; font-size: 20px; text-align: left;}

  
  
/*---------------This is the CSS for resume.html---------------------------------*/

#my-name{font-family: Caveat; 
         font-size: 50px; 
         text-align: center;}

#resume-body {background-color: #989898;}

section {text-align: center; 
         font-weight: bolder; 
         font-size: 22px;}

h4     {font-size: 25px;}


/* -------------This is the CSS for portfolio.html---------------------*/

 div    {background-color:silver; 
         font-size: 19px;}

 #name  {font-family: "Limelight"; 
         font-size: "28px"; 
         text-align: center;}

 #title {font-size: 22px;
         text-align: center; 
         font-family: "Kalam"; 
         color: blue;}

 #links {text-align: center;} 
